{% load static %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'main/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Cardo' rel='stylesheet'>
</head>

<body>
<div class='headerDiv'>
  <ul class='headerList'>
      <!--<li><a href='/'><img src="{% static 'main/logo.png' %}" alt="Logo Here" id=logo></a></li>-->
      <li><a href='/' class='nav-btn'>Mediation Training Services</a></li>
      <li><a href='/programs' class='nav-btn'>Programs</a></li>
      <li><a href='/instructors' class='nav-btn'>Instructors</a></li>
      <li><a href=# class='nav-btn'>Class Registration</a></li>
      <li><a href='/faq' class='nav-btn'>Frequently Asked Questions</a></li>
  </ul>
</div>

  {% block content %}
  {% endblock %}
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>