{% extends 'main/header.html' %}

{% block content %}
  <div class="container">
    <div class="img__wrap" style="background-image:url(/static/main/lloyd_headshot.png); background-size:cover;">
        <div class="nameplate">
            <h4>Lloyd Comiter</i></h4>
        </div>
        <div class="img__description_layer">
          <p class="img__description"></p>
        </div>
      
    </div>

    

  </div>

  <div class="about">
    <p><b>Lloyd</b> completed his undergraduate studies at Boston
University and earned his law degree at St. Thomas University School of Law
in Miami. Lloyd was admitted to the Florida Bar in 1991 and is a member of
the United States District Court, Southern District of Florida, General Bar,
the United States Court of Appeals for the Eleventh Circuit, the Supreme
Court of the United States and the United States District Court, Northern
District of Florida. <br>
      <br>
Lloyd is a member of the Palm Beach County Bar
Association where he has been the Chair of the Small Claims Court Clinics
Committee since 2007 and the South Palm Beach County Bar Association.
He is a Florida Supreme Court Certified County Court Mediator where he
volunteers in county court meditating small claims court and landlord/tenant
disputes. Lloyd is also a Florida Supreme Court Certified Circuit Court
Mediator and Florida Supreme Court Certified Family Mediator.
Lloyd is an Approved Dispute Resolution Center, Supreme Court of Florida,
County Mediation Assistant Trainer. Lloyd is also an Approved Dispute
Resolution Center, Supreme Court of Florida, Circuit Mediation Subject
Matter Specialist. <br>
      <br>
Lloyd previously served on two Grievance Committees (serving in the Chair
capacity as well) which are composed of lawyers and nonlawyers responsible
for continuing the investigation of lawyer misconduct referred by Florida Bar
discipline attorneys. Additionally, Lloyd served on the Florida Bar Small
Claims Rules Committee for 12 years and served as Chair of this Committee
as well. Lloyd served on the Judicial Campaign Practices Commission for the
2012, 2014 and 2016 judicial campaign election cycle and is a former Civil
Traffic Hearing Officer. <br>
<br>
Lloyd has lived in South Florida since 1967 and is married to Meryl and they
have three children.</p>
  </div>
  

{% endblock %}